{% for proc in Processes %}
{% if proc.instance_input != None %}
{% for channel in proc.channels %}
channel {{channel.name}} : { {{channel.lowerbound}} .. {{channel.upperbound}}}
{% endfor %}
{% endif %}
{% endfor %}

{% for proc in processes %}
{% if channel.instance_input != None %}
P_{{proc.name}} =
    {{instance_input}} ? variable ->

    {# Can I do this better? (below) #}
    {% for x in proc.channels|length %}
    (
    {% endfor %}
    {##########}

    {{proc.name|capitalize}}(variable)
    {% for channel in proc.channels %}
    [| {| {{channel.name}} |} |]
    {{channel.assert_proc_name}}({{channel.name}}))
    {% endfor %}


assert SKIP [T= P_{{proc.name}} \ Events
{% endif %}
{% endfor %}


