{% for proc_name, proc in data.processes.iteritems()%}

{% if proc.input_value != None  %}
{{proc_name|capitalize}}({{proc.input_value}}) =
    let
    {% for calc in proc.calculations_list %}
    {{calc}}
    {% endfor %}
within
    {% for channel, value in proc.communication_list %}
    {{channel}} ! {{value}} ->
    {% endfor %}
    SKIP
{% endif %}
{% endfor %}