{% for proc in Processes %}

{{proc.name|capitalize}}({{proc.variable}}) =
    let
        {% for calc in calculations %}
        {{calc}}
        {% endfor %}
    within
        {% for channel in channels %}
        {% for y in communications_variable %}
        {{channe.name}} ! {{y}} ->
        {% endfor %}
        {% endfor %}
        SKIP

