{% for proc_name, proc in processes.iteritems()%}

{{proc.name|capitalize}}({{proc.variable}}) =
    let
        {% for calc in calculations %}
        {{calc}}
        {% endfor %}
    within
        {% for channel in channels %}
        {% for y in communications_variable %}
        {{channel.name}} ! {{y}} ->
        {% endfor %}
        {% endfor %}
        SKIP

